<div>
  <app-title></app-title>
  <app-display displayText={{winMessage}}></app-display>
    <div class="d-inline-flex p-2 bd-highlight flex-wrap">
      <app-choice class="p-1" (click)="playGame('rock')" classText="far fa-hand-rock fa-4x"></app-choice>
      <app-choice class="p-1" (click)="playGame('paper')" classText="far fa-hand-paper fa-4x"></app-choice>
      <app-choice class="p-1" (click)="playGame('scissors')" classText="far fa-hand-scissors fa-4x"></app-choice>
      <app-choice class="p-1" (click)="playGame('lizard')" classText="far fa-hand-lizard fa-4x"></app-choice>
      <app-choice class="p-1" (click)="playGame('spock')" classText="far fa-hand-spock fa-4x"></app-choice>
    </div>
  <app-button buttonText="Play"></app-button>
  <app-button buttonText="Reset Game"></app-button>
</div>
