<div class="body">
  <app-title></app-title>
  <h2 *ngIf="!winMessage">{{instructions}}</h2>
  <app-display winMessage={{winMessage}} overallWinMessage={{overallWinMessage}}></app-display>
    <div *ngIf="checkScoreCapReached() === false" class="d-inline-flex p-2 bd-highlight flex-wrap" disabled>
      <app-choice 
        class="p-1" 
        (click)="playGame('rock')" 
        classText="far fa-hand-rock fa-4x"
        title="Rock">
        <!-- <img src="assets/rock.jpg" alt="rock"> -->
      </app-choice>
      <app-choice 
        class="p-1" 
        (click)="playGame('paper')" 
        classText="far fa-hand-paper fa-4x"
        title="Paper">
      </app-choice>
      <app-choice 
        class="p-1" 
        (click)="playGame('scissors')" 
        classText="far fa-hand-scissors fa-4x"
        title="Scissors">
      </app-choice>
      <app-choice 
        class="p-1" 
        (click)="playGame('lizard')" 
        classText="far fa-hand-lizard fa-4x"
        title="Lizard">
      </app-choice>
      <app-choice 
        class="p-1" 
        (click)="playGame('spock')" 
        classText="far fa-hand-spock fa-4x"
        title="Spock">
      </app-choice>
    </div>
  <app-score playerScore={{playerScore}} computerScore={{computerScore}}></app-score>
  <app-button (click)="resetGame()" buttonText="Play Again"></app-button>
</div>
